{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block header %}Register{% endblock %}

{% block body %}
    <div class="border border-gray-900/10 p-6 rounded bg-white w-50">
        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm, { action: path('app_register') }) }}
            <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="col-span-full">
                    <label for="{{ field_name(registrationForm.email) }}"
                           class="block text-sm/6 font-medium text-gray-900"
                    >
                        {{ field_label(registrationForm.email) }}
                    </label>
                    <div class="mt-2">
                        <input id="{{ field_name(registrationForm.email) }}"
                               name="{{ field_name(registrationForm.email) }}"
                               value="{{ field_value(registrationForm.email) }}"
                               placeholder="{{ field_label(registrationForm.email) }}"
                               type="email"
                               autocomplete="email"
                               class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
                        >
                    </div>
                    <div class="text-red-500 text-sm">
                        {{ form_errors(registrationForm.email) }}
                    </div>
                </div>

                <div class="col-span-full">
                    <label for="{{ field_name(registrationForm.plainPassword) }}"
                           class="block text-sm/6 font-medium text-gray-900"
                    >
                        {{ field_label(registrationForm.plainPassword) }}
                    </label>
                    <div class="mt-2">
                        <input id="{{ field_name(registrationForm.plainPassword) }}"
                               name="{{ field_name(registrationForm.plainPassword) }}"
                               value="{{ field_value(registrationForm.plainPassword) }}"
                               placeholder="{{ field_label(registrationForm.plainPassword) }}"
                               type="password"
                               autocomplete="password"
                               class="block w-full rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6"
                        >
                    </div>
                    <div class="text-red-500 text-sm">
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                </div>

                <div class="col-span-full">
                    <div class="relative flex gap-x-3">
                        <div class="flex h-6 items-center">
                            <input id="_remember_me"
                                   name="{{ field_name(registrationForm.agreeTerms) }}"
                                   type="checkbox"
                                   class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                            >
                        </div>
                        <div class="text-sm/6">
                            <label for="_remember_me" class="font-medium text-gray-900">{{ field_label(registrationForm.agreeTerms) }}</label>
                        </div>
                    </div>
                    <div class="text-red-500 text-sm">
                        {{ form_errors(registrationForm.agreeTerms) }}
                    </div>
                </div>

                <div class="col-span-full">
                    <button type="submit"
                            class="w-full rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                        Register
                    </button>
                </div>
            </div>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
